<div class="container">

  <!-- Interpolation Tut -->
  <div>
  <!-- Interpolation use {{}} to put property/var in html only works with string -->
  <h3>Hello World! {{title}} </h3> 
  <!-- we can evaluate expression -->
  <h3>{{2+2}}</h3>
  <h3>{{"Welcome "+ name}}</h3>
  <h3>{{name.length }}</h3>
  <h3>{{ greet()}}</h3>


  <!-- cant be possible with interpolation -->
  <!-- <h3>{{ a=2+2 }}</h3> -->
  <!-- cant access global variables like window screen -->
  <!-- <h3> {{ window.location.href }}</h3> -->
</div>

<!-- property binding tut -->
<div>
  

</div>

  <input type="text" value="Sai">
</div>